.photo img{
    width: 250px;
    height: 200px;
    transition: 0.5s;
}

.photo{
    overflow: hidden;
}
.photo:hover img{
    transform: scale(1.1);
}

.photo {
    text-align: center;
    display: inline-block;
    overflow: hidden;
    position: relative;
    text-decoration: none;
}
.photo:before {
    display: block;
    background-color: rgb(0, 0, 0);
    content: "";
    height: 100%;
    opacity: 0;
    position: absolute;
    width: 100%;
    z-index: 2;
}

.photo:after {
    font-family: 'Lucida Console';
    color: white;
    content: attr(alt);
    display: block;
    font-size: 16px;
    opacity: 0;
    padding: 0 3%;
    position: absolute;
    text-transform: none;
    top: 50%;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transform: scale(0) translateY(-50%);
    transform: scale(0) translateY(-50%);
    width: 94%;
    z-index: 3;
}


.photo:after {
    -webkit-transition: all 350ms ease-in-out;
    transition: all 350ms ease-in-out;
}

.photo:hover:before {
    opacity: 0.6;
}

.photo:hover:after {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-50%);
    transform: scale(1) translateY(-50%);
}


.center {
    background-color: #FFDC00;
    text-align: center;
}
